.header {
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #eee;
    z-index: 999;
}

.header .h_wrap {
    height: 80rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    width: 200rem;
    z-index: 1000;
}

.header h1 img {
    transform: scale(80%);
}

.header .gnb dl {
    display: flex;
    gap: 40rem;
    font-size: 18rem;
    font-weight: 500;
}

.header .gnb dt {
    transition: 0.6s;
}

.header .gnb dt:hover {
    color: #02652f;
}

.header .gnb dd {
    /* 수정 */
    display: none;
}

.header .login {
    width: 200rem;
}

.header .login ul {
    display: flex;
    gap: 20rem;
    align-items: center;
    justify-content: flex-end;
    font-size: 15rem;
}

.header .login .st {
    color: #02652f;
    font-weight: 500;
}

.header .login .search {
    font-size: 20rem;
    cursor: pointer;
}

/* main_visual */
.main_vi {
    position: relative;
}

.main_vi .itm {
    height: calc(100vh - 70rem);

}

.main_vi .itm01 {
    background: url(../images/main_vi01.jpg) #ddd no-repeat 200rem center/cover;
}

.main_vi .itm02 {
    background: url(../images/main_vi02.jpg) #b0a89d no-repeat 200rem center/cover;
}

.main_vi .itm03 {
    background: url(../images/main_vi03.jpg) #cbc8c1 no-repeat 200rem center/cover;
}

.main_vi .itm04 {
    background: url(../images/main_vi04.jpg) #cbc8c1 no-repeat 200rem center/cover;
}

.main_vi .itm05 {
    background: url(../images/main_vi05.jpg) #a6cce1 no-repeat 300rem center/cover;
}

.main_vi .slogan {
    position: absolute;
    top: 15%;
}

.main_vi .slogan strong {
    display: block;
    font-size: 50rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 15rem 0;
}

.main_vi .slogan p {
    font-size: 16rem;
    margin: 0 0 30rem 0;
}

.main_vi .slogan button {
    position: relative;
    width: 150rem;
    height: 50rem;
    font-size: 16rem;
    font-weight: 300;
    color: #fff;
    background: #333;
    border-radius: 50rem;
    transition: 0.6s;
}

.main_vi .slogan button:hover {
    background: #02652f;
    color: #fff;
}

.main_vi .video_wrap {
    position: absolute;
    top: 50%;
}

.main_vi .video {
    position: relative;
    width: 710rem;
    height: 400rem;
}

.main_vi .video>* {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.main_vi .slick-dots {
    position: absolute;
    top: 50%;
    left: 175rem;
    transform: translate(0, -50%);
    font-size: 0;
}

.main_vi .slick-dots>li button {
    width: 15rem;
    height: 15rem;
    border: 1px solid #888;
    border-radius: 50%;
    transition: 0.3s;
}

.main_vi .slick-dots>li:hover button {
    border: 1px solid #02652f;
    background: #02652f;
}

.main_vi .slick-dots>li~li button {
    margin-top: 10rem;
}

.main_vi .slick-dots>li.slick-active button {
    height: 30rem;
    border-radius: 50rem;
    background: #02652f;
    border: 1px solid #02652f;
}

.main_vi .arrows {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 170rem;
    font-size: 25rem;
    color: #888;
    max-height: 200rem;
    height: 100%;
}

.main_vi .arrows>* {
    cursor: pointer;
}

.main_vi .arrows>*:hover {
    color: #02652f;
}

.main_vi .arrows .up {
    position: absolute;
    top: 0;
}

.main_vi .arrows .down {
    position: absolute;
    bottom: 0;
}

.main_vi .scroll {
    position: absolute;
    bottom: 50rem;
    left: 170rem;
    color: #888;
}

.main_vi .scroll span {
    position: absolute;
    top: -15rem;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    font-size: 14rem;
    text-transform: uppercase;
}

.main_vi .scroll i {
    font-size: 25rem;
    animation: down 3s infinite;
}

@keyframes down {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    20% {
        transform: translate(0, 10rem);
        opacity: 1;
    }

    40% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

/* support_menu */
.main_supp {
    position: relative;
    height: 110rem;
    background: rgba(0, 0, 0, 0.8);
    margin: 0 0 10rem 0;
}

.main_supp ul {
    display: flex;
    gap: 200rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.main_supp ul li {
    position: relative;
}

.main_supp ul li a {
    font-size: 20rem;
    color: #fff;
    line-height: 110rem;
}

.main_supp .supp_bg::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -50rem;
    width: 100vw;
    height: 130px;
    background: #02652f;
    z-index: -1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* --- suport_campaign --- */
.main_cam {
    position: relative;
}

.main_cam .tap_list {
    display: flex;
    justify-content: center;
    margin: 0 0 20rem 0;
    text-align: center;
}

.main_cam .tap_list>ul {
    display: flex;
    gap: 5rem;
}

.main_cam .tap_list>ul>li {
    position: relative;
    overflow: hidden;
    width: 140rem;
    height: 40rem;
    line-height: 40rem;
    padding: 0 5rem 0 0;
    border: 1px solid #ddd;
    background: transparent;
    border-radius: 50rem;
    cursor: pointer;
    transition: 0.5s;
}

.main_cam .tap_list>ul>li.on {
    color: #fff;
    background: #02652f;
}

.main_cam .tap_list>ul>li::before {
    content: "";
    position: absolute;
    left: -5rem;
    width: 0;
    height: 100%;
    background: #02652f;
    border: 1px solid #02652f;
    z-index: -1;
}

.main_cam .tap_list>ul>li:hover {
    color: #fff;
}

.main_cam .tap_list>ul>li:hover::before {
    transition: 0.5s ease-in-out;
    width: 110%;
}

.main_cam .tap_list>ul>li a {
    padding: 0 0 0 14rem;
}

.main_cam .tap_con .cam_slide {
    display: flex;
    margin: 0 -15rem;
}

.main_cam .tap_con figure {
    padding: 0 15rem;
}

.main_cam .tap_con .img_box {
    overflow: hidden;
}

.main_cam .tap_con .img_box img {
    width: 270rem;
    height: 270rem;
    object-fit: cover;
    transition: 0.5s;
}

.main_cam .tap_con figure:hover img {
    transform: scale(1.08);
}

.main_cam .tap_con .txt_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120rem;
    padding: 0 20rem 5rem 20rem;
    text-align: center;
    background: #f9f9f9;
}

.main_cam .tap_con strong {
    display: block;
    font-size: 20rem;
    font-weight: 500;
    margin: 0 0 15rem 0;
}

.main_cam .tap_con span {
    position: relative;
    font-size: 13rem;
}

.main_cam .tap_con span i {
    position: absolute;
    left: 50%;
    transform: translate(-75rem, 0);
}

.main_cam .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1300rem;
    width: 100%;
    font-size: 40rem;
    color: #888;
}

.main_cam .arrows>* {
    position: absolute;
    cursor: pointer;
}

.main_cam .arrows .left {
    left: 0;
}

.main_cam .arrows .right {
    right: 0;
}

/* --- open_openbiz --- */
.main_biz {}

/* .main_biz::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100rem;
    height: 4px;
    border-radius: 5rem;
    background: rgba(2, 101, 47, 0.1);
} */

.main_biz .biz_wrap {
    text-align: center;
}

.main_biz .biz_btn {
    margin: 0 0 30rem 0;
}

.main_biz .biz_btn>ul {
    display: flex;
    justify-content: center;
    gap: 20rem;
}

.main_biz .biz_btn>ul>li {
    width: 300rem;
    line-height: 50rem;
    text-align: center;
    color: #fff;
    border-radius: 50rem;
    font-size: 14rem;
    background: #02652f;
    padding: 0 8rem 0 0;
}

.main_biz .biz_btn>ul>li a {
    display: block;
    width: 100%;
}

.main_biz .biz_btn>ul>li i {}

.main_biz .biz_count {
    margin: 0 0 30rem 0;
}

.main_biz .biz_count ul {
    display: flex;
    justify-content: center;
    gap: 30rem;
}

.main_biz .biz_count ul li {
    width: 175rem;
}

.main_biz .biz_count strong {
    font-size: 50rem;
    font-weight: 900;
}

.main_biz .biz_count span {
    font-size: 20rem;
    font-weight: 700;
}

.main_biz .biz_count p {
    font-size: 12rem;
    line-height: 30rem;
}

.main_biz .biz_logos {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.main_biz .biz_logos li {
    width: 150rem;
    height: 150rem;
    padding: 15rem 10rem 0;
    border: 1px solid rgba(2, 101, 47, 0.1);
    border-radius: 10rem;
}

.main_biz .biz_logos .img_box {
    margin: 0 0 10rem 0;
    padding: 5rem;
}

.main_biz .biz_logos .img_box img {
    width: 100rem;
}

.main_biz .biz_logos strong {
    font-size: 13rem;
}

/* --- accountable_now --- */
.main_acc {
    position: relative;
    height: 300rem;
}

.main_acc .acc_bg {
    width: 100%;
    height: 100%;
    background: #d8f9ff;
}

/* .main_acc .acc_bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/accountablenow.png) no-repeat center center;
    background-size: 80%;
    background-blend-mode: multiply;
    background-color: #a6cce1;
    opacity: 20%;
    width: 100%;
    height: 100%;
} */

.main_acc .txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main_acc strong {
    display: inline-block;
    width: 170rem;
    line-height: 40rem;
    color: #fff;
    font-size: 14rem;
    border-radius: 50rem;
    background: #0A849C;
    margin: 0 0 10rem 0;
}

.main_acc h2 {
    font-size: 24rem;
    font-weight: 700;
    margin: 0 0 20rem 0;
}

.main_acc h2 span {
    color: #0A849C;
}

.main_acc p {
    font-size: 14rem;
}

/* --- footer --- */
.footer {
    background: #fafafa;
    padding: 0 0 50rem 0;
    color: #666;
}

.footer address>* {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .st {
    color: #02652f;
}

.footer .footer_t {
    padding: 30rem 0
}

.footer .footer_t .site {
    display: flex;
    gap: 20rem;
    text-align: center;
    position: relative;
}

.footer .footer_t span {
    display: block;
    padding: 10rem 0 10rem 5rem;
    width: 180rem;
    border: 1px solid #ddd;
    cursor: pointer;
}

.footer .footer_t span i {
    margin: 0 0 0 5rem;
}

.footer .footer_t ul {
    visibility: hidden;
    position: absolute;
    bottom: 36rem;
    height: 130rem;
    overflow-y: scroll;
    background: #fff;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.footer .footer_t ul.on {
    visibility: visible;
}

.footer ul::-webkit-scrollbar {
    width: 12rem;
}

.footer ul::-webkit-scrollbar-thumb {
    height: 20%;
    background: #888;
    border-radius: 50px;
}

.footer ul::-webkit-scrollbar-track {
    border-left: 1px solid #ddd;
    background: #eee;
}


.footer .footer_t ul>li {
    width: 166rem;
}

.footer .footer_t ul>li>a {
    display: block;
    width: 100%;
    font-size: 12rem;
    line-height: 30rem;
}

.footer .footer_t ul>li>a:hover {
    background: #eee;
}

.footer .footer_t span:hover {
    background: #eee;
}

.footer .footer_t ul>li~li {
    border-top: 1px solid #ddd;
}

/* footer middle */
.footer .footer_m {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.footer .footer_m>* {
    display: flex;
}

.footer .footer_m .f_nav {
    gap: 40rem;
}

.footer .footer_m .f_nav>li>a {
    line-height: 40rem;
}

.footer .footer_m .f_nav>li {
    position: relative;
}

.footer .footer_m .f_nav>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20rem;
    transform: translate(0, -50%);
    width: 1px;
    height: 10rem;
    background: #eee;
}

.footer .footer_m .sns {
    gap: 15rem;
}

.footer .footer_m .sns i {
    font-size: 18rem;
}

.footer .footer_m .sns i:hover {
    color: #02652f;
}

/* footer bottom */
.footer .footer_b {
    padding: 20rem 0 0 0;
}

.footer .footer_b ul {
    display: flex;
    gap: 20rem;
    margin: 0 0 5rem 0;
}

.footer .footer_b li {
    position: relative;
}

.footer .footer_b li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10rem;
    transform: translate(0, -50%);
    width: 1px;
    height: 10rem;
    background: #ddd;
}

.footer .footer_b .copyright {
    line-height: 30rem;
}

.footer .footer_b .call {
    text-align: right;
}

.footer .footer_b .call span {
    display: block;
    font-size: 18rem;
    font-weight: 500;
    margin: 0 0 8rem 0;
}

.footer .footer_b .call span a {
    font-size: 25rem;
    font-weight: 700;
    color: #02652f;
}

.footer .footer_b .call p {
    font-size: 14rem;
    font-weight: 300;
    color: #888;
}

/* --- btn_box --- */

.btn_box {
    position: fixed;
    bottom: 15rem;
    right: 15rem;
}

.btn_box>* {
    margin: 0 0 5rem 0;
    cursor: pointer;
}

.btn_box .btn_bot img {
    width: 60rem;
}

.btn_box .btn_spon {
    position: relative;
}

.btn_box .btn_spon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -51%);

    width: 45rem;
    height: 45rem;
    color: #02652f;
    background: #fff;
    border-radius: 50%;

    padding: 16rem 0 0 0;
    font-size: 14rem;
    font-weight: 500;
    text-align: center;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.btn_box .btn_spon:hover span {
    opacity: 1;
    visibility: visible;
}

.btn_box .btn_spon img {
    width: 55rem;
}

.btn_box .btn_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55rem;
    height: 55rem;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    font-size: 13rem;
    font-weight: 500;
    color: #02652f;
    border: 1px solid #ccc;
}